.container {
  max-width: 36rem;
  align-items: center;
}

.Modal{
    position: absolute;
    top: 50%;
    left:50%;
    height: 32rem;
    margin-top: -16rem;
    margin-left: -10rem;
    width: 20rem;
    background-color: white;
    border-radius: 1rem;
    border-color: white;
    border-width: 0ch;
    
}

.coffeeSpan{
  margin-left:5px
}
.bmc-button img{
  width: 27px !important;
  margin-bottom: 1px !important;
  box-shadow: none !important;
    border: none !important;
    vertical-align: middle !important;
}
.bmcButton{
  line-height: 36px !important;
  height:37px !important;
  text-decoration: none !important;
  display:inline-flex !important;
 
    position:fixed;
     color:#ffffff !important;background-color:var(--stardle_blue) !important;
     border-radius: 3px !important;
     border: 1px solid transparent !important;
     padding: 1px 9px !important;
     font-size: 23px !important;
     letter-spacing: 0.6px !important;
     box-shadow: 0px 1px 2px rgba(190, 190, 190, 0.5) !important;
     -webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
     margin: 0 auto !important;font-family:'Cookie', cursive !important;
     -webkit-box-sizing: border-box !important;
     box-sizing: border-box !important;-o-transition: 0.3s all linear !important;
     -webkit-transition: 0.3s all linear !important;
     -moz-transition: 0.3s all linear !important;
     -ms-transition: 0.3s all linear !important;
     transition: 0.3s all linear !important;
    }
    .bmc-button:hover, .bmc-button:active, .bmc-button:focus {
      -webkit-box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
      text-decoration: none !important;
      box-shadow: 0px 1px 2px 2px rgba(190, 190, 190, 0.5) !important;
      opacity: 0.85 !important;
      color:#ffffff !important;
    }
.ModalStar{
  position: absolute;
  top: 50%;
  left:50%;
  height: 16rem;
  margin-top: -8rem;
  margin-left: -10rem;
  width: 20rem;
  background-color: white;
  border-radius: 1rem;
  border-color: white;
  border-width: 0ch;
  
}
.h1{
  color: var(--stardle_blue);
  margin: 0;
  line-height: 1.15;
  font-size: 2rem;
  font-weight: bold;
  display: inline;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.topnav {
  padding: .5rem;
  overflow: hidden;
  border-bottom: 1px solid black;
}

.topnav div.right{
  float: right;
  margin-left: .5rem;
  margin-right: .5rem;
}
.topnav a.right{
  float: right;
  margin-left: .5rem;
  margin-right: .5rem;
  
}
.logo {
  height: 1em;
  margin-left: 0.5rem;
}
.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.title {
  
  margin: 0;
  line-height: 1.15;
  display: inline;
}
.backToHome {
  margin: 3rem 0 0;
}