.sharerButton{
    width: 6rem;
    height: 3rem;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    border-color: black;
    background-color: green;
    color: black;
    font-weight: bold;
    letter-spacing: 0.125rem;
    font-family: inherit;
    
}
.center{
    align-items: center;
    
}

.dashDiv{
    justify-content: center;
    display: flex;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.dash{
    width: 1rem;
    height: .25rem;
    margin: .125rem;
    }

    .gray{
        background-color: gray;
    }
    .yellow{
        background-color: yellow;
    }
    
    .green{
        background-color: green;
    }
    